@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.inscription{
	font-variant: small-caps;
	text-align: center;
}

table{
	border-style: none;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

th{
	font-variant: small-caps;
	text-align: center;
}

td{
	border-style: none;
	padding: .5em;
	vertical-align: top;
	width: auto;
}

td:first-child{
	width: 40%;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
